$main-dark-color: #164a41;
$main-med-color: #4d774e;
$main-light-color: #9dc88d;
$accent-color: #ff8533;
$light-color: #f4f4f4;
$accent-light-color: #fff0e6;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');
